@model IEnumerable<OrderStatusModel>





@{
    ViewBag.Title = "Dream Cafe";
    

}


<section class="sec-padding loginForm" >

        <div class="container">

            <div>
                <div class="row">
                    <div class="section-title" data-aos="fade-down">
                        <h2 data-title="New Orders">New Orders</h2>
                    </div>
                </div>
            </div>
        </div>



        @foreach(var order in Model)
    {
        if(order.UserName == ViewBag.userName && order.OrderStatus == "Completed")
        {
            var photopath = "~/Images/" + (order.PhotoPath ?? "noimage.jpg");
            <div class="forHover">
                
                    <div class="row">
                        <div class="col-sm" >




                            <div class="row" data-aos="fade-left">
                                <div  class="col-3">Order Id:</div>
                                <div  class="menuDesign3 col-9"> @order.OrderNumber</div>
             
                            </div>
                            <div class="row" data-aos="fade-right">
                                <div  class="col-3">Date and Time:</div>
                                 <div  class="menuDesign3 col-9"> @order.CreatedDate</div>
               
                            </div>
                            <div class="row" data-aos="fade-left">
                                <div  class="col-3">Food Title:</div>
                                <div  class="menuDesign3 col-9"> @order.ItemTitle</div>
                
                             </div>
                            <div class="row" data-aos="fade-right">
                                 <div  class="col-3">Quantity:</div>
                                 <div  class="menuDesign3 col-9"> @order.ItemQuantity</div>
                
                             </div>
                             <div class="row" data-aos="fade-left">
                                <div  class="col-3">Total Cost:</div>
                                 <div  class="menuDesign3 col-9">$ @order.TotalCost</div>
                
                             </div>
           
                

                              <div class="row mb-xl-5" data-aos="fade-right">
                                <div  class="col-3">Status:</div>
                                <div  class="menuDesign3 col-9"> @order.OrderStatus</div>
                              </div>

                              
                


                
                </div>
                                
                        


                        <div class="col-sm imgOrder" data-aos="fade-right">
                            <img class="imageThumbnail3" src="@photopath" asp-append-version="true"/>
                        </div>

                    </div>
                   


               

                
                

            </div>

        
        }
    }


     <div class="container2" data-aos="fade-up" data-aos-duration="1500">
            <a asp-controller="Menu" asp-action="UserListCompletedOrder" class="newbtn newbtn-default">Back to OrderList</a>
        </div>
        


</section>