@model IEnumerable<OrderStatusModel>





@{
    ViewBag.Title = "Dream Cafe";
    

}


<section class="sec-padding loginForm" >

        <div class="container">

            <div>
                <div class="row">
                    <div class="section-title">
                        <h2 data-title="New Orders">New Orders</h2>
                    </div>
                </div>
            </div>
        </div>



        @foreach(var order in Model)
    {
        if(order.UserName == ViewBag.userName && order.OrderStatus != "Completed")
        {
            var photopath = "~/Images/" + (order.PhotoPath ?? "noimage.jpg");
            <div class="forHover">
                
                    <div class="row">
                        <div class="col-sm">




                            <div class="row">
                                <div  class="col-3">Order Id:</div>
                                <div  class="menuDesign3 col-9"> @order.OrderNumber</div>
             
                            </div>
                            <div class="row">
                                <div  class="col-3">Date and Time:</div>
                                 <div  class="menuDesign3 col-9"> @order.CreatedDate</div>
               
                            </div>
                            <div class="row">
                                <div  class="col-3">Food Title:</div>
                                <div  class="menuDesign3 col-9"> @order.ItemTitle</div>
                
                             </div>
                            <div class="row">
                                 <div  class="col-3">Quantity:</div>
                                 <div  class="menuDesign3 col-9"> @order.ItemQuantity</div>
                
                             </div>
                             <div class="row">
                                <div  class="col-3">Total Cost:</div>
                                 <div  class="menuDesign3 col-9">$ @order.TotalCost</div>
                
                             </div>
           
                

                              <div class="row mb-xl-5">
                                <div  class="col-3">Status:</div>
                                <div  class="menuDesign3 col-9"> @order.OrderStatus</div>
                              </div>

                              
                

                                    @*<form method="post">

                                       






                                        <div class="row mb-xl-5">
                                            <div  class="col-3">Current Status:</div>
                                            <div class="row mt-3">

                                                <select  class="addMenuSelect" >
                                                   
                                                    <option value="Order Placed Successfully">Order Placed Successfully</option>
                                                    <option value="Cooking">Cooking</option>
                                                    <option value="Delivered">Delivered</option>
                                                    
                                                    
                                                </select>

                                            </div>
                                        </div>
                               



                                        <div class="row mb-xl-5 container2">
                                            <button type="submit" class="newbtn newbtn-default">
                                                Update
                                            </button>
                                        </div>
                        


                                    </form>*@


                                    <div class="mb-5">
                                        <a asp-controller="Menu" asp-action="ChangeStatus" asp-route-id="@order.OrderNumber" class="newbtn newbtn-default">Change Status</a>
                                    </div>

                
                </div>
                                
                        


                        <div class="col-sm imgOrder">
                            <img class="imageThumbnail3" src="@photopath" asp-append-version="true"/>
                        </div>

                    </div>
                   


               

                
                

            </div>

        
        }
    }


     <div class="container2">
            <a asp-controller="Menu" asp-action="UserListNewOrder" class="newbtn newbtn-default">Back to OrderList</a>
        </div>
        


</section>