
@model ItemModel;


@{
    ViewBag.Title = "Dream Cafe";
    var photopath = "~/Images/" + (Model.PhotoItem ?? "noimage.jpg");
    var backPage = (Model.MenuId) + "User";
    string quantity ="";
    string dd = Model.Id.ToString();
}

<section class="sec-padding loginForm" >

        <div class="container">

            <div>
                <div class="row">
                    <div class="section-title" data-aos="fade-down">
                        <h2 data-title="Order Now">@Model.MenuItemTitle</h2>
                    </div>
                </div>
            </div>
        </div>

        

        <table>
            <tbody>
                <tr >
                    <td style="width:60%" >
                        <div class="card  addToCartDesign col-sm-2" style="min-width:25rem; max-width:40.5%;">

                        <img class="card-img-top imageThumbnail2" src="@photopath" asp-append-version="true" data-aos="fade-down"/>

                        <div class="card-footer text-center pb-3">
                            <h3 class="text-black" data-aos="fade-up">@Model.MenuItemTitle</h3>
                            <h5 class="costDesign" data-aos="fade-up">$@Model.MenuItemCost</h5>
                           
                          <form method="post">
                                
                                <input hidden asp-for="MenuItemTitle" />
                                <input hidden asp-for="MenuId" />
                                <input hidden asp-for="MenuItemCost" />
                                <input hidden asp-for="PhotoItem" />
                           
                                

                            <div class="row">
                                <div class="col-sm" data-aos="fade-right">
                                    <div class="qty-btn d-flex">
                                
                                        <div class="quantity">
                                            <span class="qty-minus" onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty ) &amp;&amp; qty &gt; 1 ) effect.value--;return false;"><i class="fa fa-minus forColor" aria-hidden="true"></i></span>
                                            <input asp-for="MenuItemQuantity" class="qtQuantity"  id="qty" step="1" min="1" max="20" value="1"/>
                                            <span class="qty-plus" onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty )) effect.value++;return false;"><i class="fa fa-plus forColor" aria-hidden="true"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm" data-aos="fade-left">
                                     <button type="submit" class="placeOrder newbtn2 newbtn-default2">Place Order</button>
                                </div>
                            </div>




                            @*<button  onclick=" document.getElementById('img2').classList.add('dNone'); document.getElementById('img1').classList.remove('dNone');"
                                    ondblclick="document.getElementById('img1').classList.add('dNone'); document.getElementById('img2').classList.remove('dNone');"
                            class="button-cart2">
                                <img id="img2"  class="imageButtonCart2" src="~/Images/cartIcon2.png">
                                <img id="img1" class="imageButtonCart dNone" src="~/Images/cartIcon.png">
                            </button>*@


                           

                            
                         </form>   
                            
                        </div>
                    </div>
                    </td>


                    <td style="width:40%" >
                            <div class="addToCartDetails">
                                <h5 class="menuDesign">Menu Type   :   @Model.MenuId</h5>
                                <h5 class="menuDesign">Description :   @Model.MenuItemDescription</h5>
                                <h5 class="menuDesign">Quantity    :   @Model.MenuItemQuantity</h5>
                                <h5 class="menuDesign">Availability:   @Model.MenuItemAvailability</h5>
                            </div>
                     </td>

                </tr>
                
                    
                
            </tbody>
        </table>

        

        <div class="container2" data-aos="fade-up" data-aos-duration="1500">
            
            <a asp-controller="Menu" asp-action="@backPage" class="newbtn newbtn-default">Back</a>
        </div>


</section>