@model IEnumerable<TableModel>












<section class="sec-padding loginForm" >

        <div class="container">

            <div>
                <div class="row">
                    <div class="section-title" data-aos="fade-down">
                         @if(User.Identity.Name.ToLower().Contains("najib100"))
                    {
                        <h2 data-title="Table Section">Table Management</h2>
                    }
                    else
                    {
                        <h2 data-title="Table Section">Select Table</h2>
                    }
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
        @foreach(var table in Model)
    {
        var photopath = "~/Images/" + (table.PhotoPath ?? "noimage.jpg");


        <div class="col-4 mb-3">
                         <div class="cardItem">
                            

                        
                        <img class="card-img-top imageThumbnail2" src="@photopath" asp-append-version="true" data-aos="fade-down"/>
                    


                               
                                
                            
                             <div class="card-footer">
                                 
                        @if(@table.IsSelected && (@table.UserName.ToLower() == (User.Identity.Name.ToLower())))
                                {
                                        <h5 class="menuDesign4" data-aos="fade-left">Table Number : @table.TableNumber</h5>
                                        <h5 class="menuDesign4" data-aos="fade-left">Total Seat : @table.TotalSeat</h5>
                                        <h5 class="menuDesign4" data-aos="fade-left">Date : @table.Date.ToString("D")</h5>
                                        <h5 class="menuDesign4" data-aos="fade-left">Time : @table.Time.ToString("HH:MM tt")</h5>
                        }
                        else if(@table.IsSelected && (User.Identity.Name.ToLower().Contains("najib100")))
                        {
                            
                       
                            <h5 class="menuDesign4" data-aos="fade-left">Table Number : @table.TableNumber</h5>
                                        <h5 class="menuDesign4" data-aos="fade-left">Total Seat : @table.TotalSeat</h5>
                                        <h5 class="menuDesign4" data-aos="fade-left">User Name : @table.UserName</h5>
                                        
                                        <h5 class="menuDesign4" data-aos="fade-left">Date : @table.Date.ToString("D")</h5>
                                        <h5 class="menuDesign4" data-aos="fade-left">Time : @table.Time.ToString("HH:MM tt")</h5>
                        
                        }
                        else
                        {

                                <h4 class="menuDesign" data-aos="fade-left">Table Number : @table.TableNumber</h4>
                                 <h4 class="menuDesign" data-aos="fade-left">Total Seat : @table.TotalSeat</h4>
                        }

                                @if( @table.UserName.ToLower() == (User.Identity.Name.ToLower()) && User.Identity.Name != "najib100")
                        {
                                <div class="container5" data-aos="fade-up">
                                    <form method="post" asp-route-id="@table.Id">
                                        <button type="submit" class="newbtn newbtn-default">Release</button>
                                    </form>
                            </div>
                        }
                        else if(User.Identity.Name.ToLower().Contains("najib100") )
                        {
                            if(@table.IsSelected)
                            {
                                <div class="container5" data-aos="fade-up">
                                    <form method="post" asp-route-id="@table.Id">
                                        <button type="submit" class="newbtn newbtn-default">Release</button>
                                    </form>
                                </div>
                            }
                            else
                            {
                                <div class="container6" data-aos="fade-up">
                                    <form method="post" asp-route-id="@table.Id">
                                        <button type="submit" class="newbtn newbtn-default">Release</button>
                                    </form>
                                </div>
                            }
                        }

                        else
                        {
                            if(@table.IsSelected)
                            {

                                <div class="mb-4" data-aos="fade-up">
                                    <h5 class="menuDesign5">Already selected</h5>
                                </div>
                            }
                            else
                            {
                                <div class="container4" data-aos="fade-up">
                                    
                                        <a asp-controller="Menu" asp-action="TableSelectNow" asp-route-id="@table.Id" class="newbtn newbtn-default">Select</a>
                                    
                                </div>
                            }
                        }

                            </div>
                        </div>
        </div>
    }




    </div>



    @if(User.Identity.Name.ToLower().Contains("najib100"))
    {
        <div class="container2" data-aos="fade-up" data-aos-duration="1500">
                     <a asp-controller="Home" asp-action="Admin" class="newbtn-default newbtn">Back to Home</a>
        </div>
    }
    else
    {
        <div class="container2" data-aos="fade-up" data-aos-duration="1500">
                     <a asp-controller="Home" asp-action="Index" class="newbtn-default newbtn">Back to Home</a>
        </div>
    }


   



        

</section>